# Python
*.py[cod]

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage
.grunt

# Compiled binary addons
build/Release

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

.DS_Store
